<div class="card-deck mb-4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">All Students</h4>
      <p class="card-text">This report shows a list of all students in the system. It includes full name, social security number, and email address.</p>
    </div>
    <div class="card-footer">
      <form action="/reports" method="post">
        <div class="form-group">
          <select class="form-control" id="student_select">
            <option>All Classes</option>
            <option>Freshmen</option>
            <option>Sophomores</option>
            <option>Juniors</option>
            <option>Seniors</option>
          </select>
        </div>
        <button type="submit" class="btn btn-info btn-block">View</button>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">All Staff</h4>
      <p class="card-text">This report shows a list of all staff members in the system. It includes full name, social security number, and email address.</p>
    </div>
    <div class="card-footer">
      <a href="/reports/staff" class="btn btn-info btn-block">View</a>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">All Faculty</h4>
      <p class="card-text">This report shows a list of all faculty members in the system. It includes full name, social security number, and email address.</p>
    </div>
    <div class="card-footer">
      <a href="/reports/faculty" class="btn btn-info btn-block">View</a>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Clubs</h4>
      <p class="card-text">This report shows a list of all students in the system. It includes full name, social security number, and email address.</p>
    </div>
    <div class="card-footer">
      <form action="/reports" method="post">
        <div class="form-group">
          <select class="form-control" id="club_select">
            <option>Math Club</option>
            <option>Connection</option>
            <option>Biology Club</option>
            <option>L.E.A.P. Dance</option>
            <option>Creative Writing Club</option>
            <option>Student Government</option>
            <option>Black Student Union</option>
            <option>Longboarding Club</option>
            <option>Drama Club</option>
            <option>Fortitude</option>
          </select>
        </div>
        <button type="submit" class="btn btn-info btn-block">View</button>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Sports Teams</h4>
      <p class="card-text">This report shows a list of all staff members in the system. It includes full name, social security number, and email address.</p>
    </div>
    <div class="card-footer">
      <form action="/reports" method="post">
        <div class="form-group">
          <select class="form-control" id="sport_select">
            <option>Basketball</option>
            <option>Baseball</option>
            <option>Golf</option>
            <option>Swimming</option>
            <option>Track and Field</option>
            <option>Softball</option>
            <option>Soccer</option>
          </select>
        </div>
        <button type="submit" class="btn btn-info btn-block">View</button>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Academic Programs</h4>
      <p class="card-text">This report shows a list of all faculty members in the system. It includes full name, social security number, and email address.</p>
    </div>
    <div class="card-footer">
      <form action="/reports" method="post">
        <div class="form-group">
          <select class="form-control" id="acad_select">
            <option>Computer Science</option>
            <option>Network Engineering</option>
            <option>Art</option>
            <option>Biology</option>
            <option>Business Administration</option>
            <option>Intercultural Studies</option>
            <option>Math</option>
            <option>Nursing</option>
          </select>
        </div>
        <button type="submit" class="btn btn-info btn-block">View</button>
      </form>
    </div>
  </div>
</div>
