<div class="card-deck mb-4">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Students</h4>
      <p class="card-text">This report shows a list of students in the system. You can specify with the form below which classes of students you want to select, or all students.</p>
    </div>
    <div class="card-footer">
      <form action="/reports/students" method="post">
        <div class="form-group">
          <select class="form-control" name="student_select">
            <option value="*">All Classes</option>
            <option value="freshmen">Freshmen</option>
            <option value="sophomores">Sophomores</option>
            <option value="juniors">Juniors</option>
            <option value="seniors">Seniors</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">View</button>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Staff Members</h4>
      <p class="card-text">This report shows a list of all staff members in the system. It includes full name, social security number, and email address.</p>
    </div>
    <div class="card-footer">
      <button onclick="window.location='/reports/staff';" class="btn btn-primary btn-block">View</button>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Faculty Members</h4>
      <p class="card-text">This report shows a list of all faculty members in the system. It includes full name, social security number, and email address.</p>
    </div>
    <div class="card-footer">
      <button onclick="window.location='/reports/faculty';" class="btn btn-primary btn-block">View</button>
    </div>
  </div>
</div>
<div class="card-deck">
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Clubs</h4>
      <p class="card-text">This report shows a list of clubs and club members. You can specify with the form below which club you want to select, or all clubs.</p>
    </div>
    <div class="card-footer">
      <form action="/reports/clubs" method="post">
        <div class="form-group">
          <select class="form-control" name="club_select">
            <option value="*">All Clubs</option>
            <option value="1">Math Club</option>
            <option value="2">Connection</option>
            <option value="3">Biology Club</option>
            <option value="4">L.E.A.P. Dance</option>
            <option value="5">Creative Writing Club</option>
            <option value="6">Student Government</option>
            <option value="7">Black Student Union</option>
            <option value="8">Longboarding Club</option>
            <option value="9">Drama Club</option>
            <option value="10">Fortitude</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">View</button>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Sports Teams</h4>
      <p class="card-text">This report shows a list of sports and team members. You can specify with the form below which team you want to select, or all teams.</p>
    </div>
    <div class="card-footer">
      <form action="/reports/sports" method="post">
        <div class="form-group">
          <select class="form-control" name="sport_select">
            <option value="*">All Sports</option>
            <option value="1">Basketball</option>
            <option value="2">Baseball</option>
            <option value="3">Golf</option>
            <option value="4">Swimming</option>
            <option value="5">Track and Field</option>
            <option value="6">Softball</option>
            <option value="7">Soccer</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">View</button>
      </form>
    </div>
  </div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Academic Programs</h4>
      <p class="card-text">This report shows a list of academic programs and students. You can specify with the form below which program you want to select, or all programs.</p>
    </div>
    <div class="card-footer">
      <form action="/reports/acad" method="post">
        <div class="form-group">
          <select class="form-control" name="acad_select">
            <option value="*">All Programs</option>
            <option value="1">Computer Science</option>
            <option value="2">Network Engineering</option>
            <option value="3">Art</option>
            <option value="4">Biology</option>
            <option value="5">Business Administration</option>
            <option value="6">Intercultural Studies</option>
            <option value="7">Math</option>
            <option value="8">Nursing</option>
          </select>
        </div>
        <button type="submit" class="btn btn-primary btn-block">View</button>
      </form>
    </div>
  </div>
</div>
