<div class="jumbotron text-center">
  <h3 class="display-4">Distribution List Generator</h1>
  <p>Please select from the options provided</p>
  <a href="/reports" class="btn btn-primary">Reports</a>
  <a href="/lists" class="btn btn-primary">Custom Lists</a>
  <a href="/notes" class="btn btn-primary">Notes</a>
</div>
