{{#each errors}}
  <div class="alert alert-danger">{{text}}</div>
{{else}}

{{/each}}

<div class="card card-body">
  <h3>Add note</h3>
  <form action="/notes" method="post">
    <div class="form-group">
      <label for="noterId">Noter ID</label>
      <input type="text" class="form-control" name="noterId" maxlength="4" value="888" readonly>
    </div>
    <div class="form-group">
      <label for="personId">Person ID</label>
      <input type="text" class="form-control" name="personId" maxlength="4" required>
    </div>
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" name="title" maxlength="50" required>
    </div>
    <div class="form-group">
      <label for="note">Note</label>
      <textarea name="note" class="form-control" maxlength="500" required></textarea>
    </div>
    <button type="submit" class="btn btn-info">Add note</button>
  </form>
</div>
